fastapi
uvicorn
pydantic
httpx
pytest
pytest-asyncio
sqlmodel
apscheduler
cryptography>=41.0.0
pywebpush>=1.14.0
tenacity
cachetools
apprise
bcrypt
python-jose[cryptography]
python-dotenv
passlib
python-multipart
pandas
